*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family:sans-serif;
}

body{
    display:flex;
    align-items:center;
    justify-content:center;
    height:100vh;
    overflow:hidden;
}

.container{
    display:flex;
    width:90vw;
}

.panel{
    background-size:cover;
    background-position:center center;
    background-repeat:no-repeat;
    height:80vh;
    border-radius:10px;
    color:#fff;
    cursor: pointer;
    flex:0.5;
    margin: 10px;
    position: relative;
    text-align:center;
    transition:all 0.5s ease-in;
}

.panel h1{
    position:absolute;
    bottom:20px;
    left:20px;
    font-size:14px;
    margin:0;
    opacity:0;
    background:rgba(103, 144, 6, 0.767);
    padding:10px;
    border-radius:30px;
    color: rgb(255, 255, 255);
}

.panel.active{
    flex:5;
}


.panel.active h1{
    opacity:1;
    transition:opacity 1.5s;
}


@media (max-width:480px) {
    .panel:nth-of-type(4),
    .panel:nth-of-type(5){
        display:none;
    }
    .container{
        width:100vw;
    }

}
